@inherits LayoutComponentBase
@implements IDisposable

<CascadingValue Value="ThemeController">
    <div class="shell-layout" data-theme-preference="@ThemeController.Preference">
        <main class="shell-main">
            <article class="shell-content" tabindex="-1">
                @Body
            </article>
        </main>

        <div id="blazor-error-ui" data-nosnippet>
            An unhandled error has occurred.
            <a href="." class="reload">Reload</a>
            <span class="dismiss">x</span>
        </div>
    </div>
</CascadingValue>

@code {
    private readonly ShellThemeController ThemeController = new();

    protected override void OnInitialized()
    {
        ThemeController.Changed += HandleThemeChanged;
    }

    public void Dispose()
    {
        ThemeController.Changed -= HandleThemeChanged;
    }

    private void HandleThemeChanged()
    {
        _ = InvokeAsync(StateHasChanged);
    }
}
